.chatList__wrapper{
  flex-direction: column;
  width: 90px;
  display: flex;
  align-items: center;
  background-color: #232a32;
  padding-top: 20px;
  color: #fff;
  height: 100vh;
}

.chatList__wrapper_isOpen{
  width: 300px;
}

.chatList__search{
  border-bottom: 2px solid #363d45;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chatList__inputSearch{
  width: 80%;
  border-radius: 50px;
  padding: 10px;
  background-color: #363d45;
  border: 1px solid #1d2229;
  color: #fff
}

.chatList__chats{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.chat{
  justify-content: center;
  padding: 10px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }
}

.chat__avatar {
  width: 50px;
  height: 50px;
}

.chat__avatarImg {
  width: 100%;
  height: 100%;
}

.chat__lastMessage {
  color: #ccc;
}

.chatList__iconWrapper {
  cursor: pointer;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px 20px 20px;

  &:hover{
    background-color: #fff;

    .chatList__iconBack{
      color: #000;
    }
  }
}

.chatList__iconWrapper_rotate{
  transform: rotate(180deg);
}

.chatList__bottom{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
